:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
}
.app-div {
  background-color: #1A1B21;
  border-radius: 10px;
  max-width: 320px;
  margin: 2em;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


/* HEADER */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px 10px 0 0;

    .header-img {
      border-radius: 10px 10px 0 0;
    }

    .header-content {
      padding: 0 34px;
    }
    
    h1 {
      font-size: 2em;
      margin-bottom: 0px;
      font-weight: 700;
    }
    
    h2 {
      font-size: .8em;
      margin: 0 0 .5em 0;
      color: #F3BF99;
    }
    
    a {
        font-size: .7em;
        font-weight: 400;
        color: white;
        text-decoration: none;
    }
    a:hover {
      color: #535bf2;
    }

    .buttons-div {
      display: flex;
      justify-content: space-evenly;
    }
    
    .buttons-div {
      margin: 1em 0;

      button {
        width: 100%;
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        cursor: pointer;
        transition: border-color 0.25s;
      }
      button:hover {
        border-color: #646cff;
      }
      #email-button {
        background-color: white;
        color: black;
        margin-right: 5px;
      }

      #linkedin-button {
        background-color: #5093E2;
        color: white;
        margin-left: 5px;
      }

    }
}

/* MAIN */
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 34px;

    h2 {
      padding: 0px;
      margin: 0px;
      font-size: 1em;
      font-weight: 700;
    }

    p {
      font-size: .8em;
      line-height: 1.3;
    }
}


/* FOOTER */
footer {
  background-color: #161619;
  border-radius: 0 0 10px 10px;
  padding: 16px 50px;
}

footer nav {
  display: flex;
  justify-content: space-evenly;
}


@media (prefers-color-scheme: light) {
  .app-div {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
